body {
  margin: 0;
}

.App {
  text-align: center;
}

.App-logo {
  position: fixed;
  top: 20px;
  left: 10px;
  height: 4em;
  cursor: pointer;
  z-index: 50;
  color: #ffffff;
}

.sections {
  min-height: 80vh;
  color: #ffffff;
  z-index: 10;
  padding: 3em 3em;
}

.text-fild {
  width: 80%;
  max-width: 500px;
  margin: 2em auto;
}

.list-fild {
  list-style: none;
  margin: auto;
  padding: 0;
  max-width: 500px;

  -webkit-column-count: 3;
  -moz-column-count: 3;
  column-count: 3;
}

.footer {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  bottom: 0;
  width: calc(100%);
  background: #363636;
  height: 70px;
}

footer:before {
  content: '';
  position: absolute;
  bottom: 69px;
  height: 60px;
  left: 0;
  right: 0;
  background: linear-gradient(to bottom right, transparent 49%, #363636 50%);
}

.media-grup {
  margin: auto;
  max-width: 700px;
  justify-content: space-evenly;
}

.media {
  width: 2em;
  cursor: pointer;
  margin: 1em;
}

.arrow-group {
  display: flex;
  position: fixed;
  bottom: 100px;
  left: 2em;
  width: 100px;
  height: 40px;
  justify-content: space-evenly;
  flex-direction: row;
}

@media only screen and (min-device-width: 768px) {
  .arrow {
    display: block;
    position: relative;
    cursor: pointer;
    width: 30px;
    height: 30px;
    margin: 0;
    border: solid 3px #ffffff;
    border-radius: 100%;
    transition: all 0.2s linear;
  }
  #back {
    transform: rotate(180deg);
    right: 0;
  }
  .arrow:before,
  .arrow:after {
    content: '';
    position: absolute;
    width: 35%;
    height: 10%;
    top: 41%;
    left: 55%;
    margin: 0;
    background: #fff;
    transform: translate(-50%, -50%) rotate(45deg);
    transition: all 0.2s linear;
  }
  .arrow:after {
    z-index: 3;
    top: 59%;
    left: 55%;
    transform: translate(-50%, -50%) rotate(-45deg);
  }
  .arrow:hover {
    border: solid 5px #fff;
  }
  .arrow:hover:after,
  .arrow:hover:before {
    background: #fff;
  }
  .arrow:active {
    border: solid 4px #fff;
  }
  .arrow:active:after,
  .arrow:active:before {
    background: #fff;
  }

  .swipe-arror{
    display: none;
  }
}

.swipe-arror {
  position: fixed;
  bottom: 30vh;
  left: calc(50% - 50px);
  width: 100px;
}
