.App {
  text-align: center;
}

.App-logo {
  position: fixed;
  top: 20px;
  left: 10px;
  height: 4em;
  cursor: pointer;
  z-index: 50;
  color: #FFFFFF;
}


.sections{
  min-height: 80vh;
  color: #FFFFFF;
  z-index: 10;
  padding: 3em 3em;
}

.sections p {
  max-width: 60%;
  margin: auto;
}

button{
  position: fixed;
  right: 2em;
  top: calc(50vh - 20px);
  height: 40px;
  z-index: 200;
}


.footer{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  bottom: 0;
  width: calc(100%- 2em);
  background: #363636;
  height: 70px;  
}

footer:before {
  content:"";
  position: absolute;
  bottom: 69px;
  height:60px;
  left:0;
  right:0;
  background:linear-gradient(to bottom right, transparent 49%, #363636 50%);
}


.media-grup{
  margin: auto;
  max-width: 500px;
  justify-content: space-evenly;

}

.media{
  width: 2em;
  cursor: pointer;
  margin: 1em;
}

