body {
  margin: 0;
  font-family: 'Lars', sans-serif;

}

.App {
  text-align: center;
}

.App-logo {
  position: fixed;
  top: 20px;
  left: 10px;
  height: 4em;
  cursor: pointer;
  z-index: 50;
  color: #ffffff;
}

.background{
  /* background: url(./img/back.jpg) no-repeat center center fixed; */
  background-size: cover;
  /* height: 100vh; */
}

.sections {
  min-height: 80vh;
  overflow: hidden;
  color: #ffffff;
  z-index: 10;
  padding: 3em 3em 8em 3em;
  opacity: 70%;
}

.section-header {
  margin: 5vh 0;
  font-size: 1.5em;
}

.text-fild {
  width: 80%;
  max-width: 500px;
  margin: 3em auto 1em auto;
  text-align: left;
}

.center {
  text-align: center;
}

.list-fild {
  list-style: none;
  margin: auto;
  padding: 0;
  max-width: 500px;

  -webkit-column-count: 3;
  -moz-column-count: 3;
  column-count: 3;
}

.text-fild-button {
  padding: 0.35em 1.2em;
  border: 0.1em solid #ffffff;
  border-radius: 0.12em;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color: #ffffff;
  text-align: center;
  transition: all 0.2s;
  cursor: pointer;
}
.text-fild-button:hover {
  color: #000000;
  background-color: #ffffff;
}
.text-fild-button:active {
  color: #000000;
  background-color: #ffffff;
}
@media all and (max-width: 30em) {
  .text-fild-button {
    display: block;
    width: 50%;
    margin: 0.4em auto;
  }
}

.footer {
  position: fixed;
  /* position: relative; */
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  bottom: 0;
  width: calc(100%);
  background: #363636;
  height: 70px;
}

footer:before {
  content: '';
  position: absolute;
  bottom: 69px;
  height: 60px;
  left: 0;
  right: 0;
  background: linear-gradient(to bottom right, transparent 49%, #363636 50%);
}

.media-grup {
  margin: auto;
  max-width: 700px;
  justify-content: space-evenly;
}

.media {
  width: 2em;
  cursor: pointer;
  margin: 1em;
}

.arrow-group {
  position: fixed;
  display: flex;
  justify-content: space-evenly;
  bottom: 16vh;
  left: 2em;
  width: 150px;
  height: 40px;
}

@media only screen and (min-device-width: 768px) {
  .arrow{
    cursor: pointer;
    position:relative;
    display:block;
    width:35px;
    height: 35px;
    border: solid 3px #FFF;
    border-radius: 100%;
    z-index: 1;
    transition: all .2s linear;
  /*
    &:before, &:after{
      content:"";
      position: absolute;
      width:35%;
      height: 10%;
      top:41%;
      left:55%;
      background: #FFF;
      z-index: 2;
      transform: translate(-50%, -50%) rotate(45deg);
      transition: all .2s linear;
    }
    &:after{
      z-index: 3;
      top:59%;
      left:55%;
      transform: translate(-50%, -50%) rotate(-45deg);
    }
    &:hover{
      border: solid 6px #777;
      &:after, &:before{
        background: #777;
      }
    }
    &:active{
      border: solid 7px #777;
      &:after, &:before{
        background: #777
      }
    } */
  }
  #back {
    transform: rotate(180deg);
    right: 0;
  }


  .swipe-arror {
    display: none;
  }
}

.swipe-arror {
  position: fixed;
  bottom: 25vh;
  left: calc(50% - 50px);
  width: 100px;
}